{% extends 'base.html' %}

{% block title %}Post Jobs{% endblock title %}

{% block head %}
<style>
    body {
        background-color: green;
    }
</style>
{% endblock head %}

{% block body %}

<div class="container mx-auto bg-info rounded-4 my-5 border" style="max-width: 400px;">
    <div class="mb-3 mt-3">
        <form method="post" action="">
            {% csrf_token %}
            <label class="form-label">Job Title</label>
            <input type="text" class="form-control mb-3" name="job_title" id="job_title" placeholder="Enter Job title"
                required>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Job Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="description"></textarea>
            </div>

            <input type="submit" value="Post" class="btn btn-primary mb-2">

        </form>
    </div>

</div>

{% endblock body %}